
@font-face {
    font-family: GothamProBold; /* Имя шрифта */
    src: url(9781.otf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: GothamProMed; /* Имя шрифта */
    src: url(11031.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: GothamPro; /* Имя шрифта */
    src: url(10178.otf); /* Путь к файлу со шрифтом */
   }

html, body, ul{
	margin: 0;
	padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mainscreen{
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url(images/man_photo.png);
}


.navigation{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	font-family: GothamProMed; 
	padding: 30px 0;
	}


.navigation__logo{
	padding-right: 30%;
}

.navigation__item{
	list-style-type: none; 
	float: left;
	margin: 0;
	padding-left: 40px;

}


.navigation__anchor{
	text-decoration: none;
	text-transform: uppercase;
	color: #3f4147;
}

.navigation__anchor:hover{
color:#a70c5d;
}



.navigation__language {
    border: 2px solid #dfdfe2;
    width: 60px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f5f5f5;
    color: #a70c5d;
    font-family: GothamProBold; 
    font-size: 13px;
	text-transform: uppercase;
	padding: 0.5em;
}

.navigation__language:focus {
    outline: none;
}




.main-information{
	width: 80%;
	margin: 0 auto; }

.slogan{
	width:50%;

}

.slogan__header{
	 font-family: GothamProBold; 
	 font-size: 30px;
}	

.slogan__header:after{
	width: 2em;
	border-bottom: 2px solid #a70c5d ;
	content: "";
	padding-top: 30px;
	display: block;
	margin: 0;
}

.slogan__text{
		font-family: GothamPro;
		font-size: 15px;
		line-height: 2em;
		padding-bottom: 60px;
		padding-right: 40px;
}

.slogan__button{
	color:#a70c5d;
	background-color: #fff;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: GothamProBold; 
	font-size: 12px;
	border-radius: 50px;
	border: 3px solid  #a70c5d;
	display: flex;
	justify-content:space-around ;
	width: 170px;
	align-items: center;
}

.slogan__button:hover{
	background-color: #a70c5d;
	color: #fff;

}

.slogan__icon{
	font-size: 3em;
}

.mainscreen__absolute_button{
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 30px;
	background-color: #fff;
	margin: 0;
	padding: 30px 40px;
	border-radius: 50%;
	color: #a70c5d;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}


.mainscreen__absolute_button:hover{
	background-color: #a70c5d;
	color: #fff;
}


.mainscreen__absolute_button i{
	padding: 0;
	margin: 0;
}


