

@font-face{
    font-family: GothamPro-Light;
    src: url(fonts/GothamPro-Light.ttf);
}
@font-face {
    font-family: GothamProBold;/* Имя шрифта */
src: url(fonts/9781.otf); /* Путь к файлу со шрифтом */
    font-weight: bold;
   }


@font-face {
    font-family: GothamProMed; /* Имя шрифта */
    src: url(fonts/11031.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: GothamPro; /* Имя шрифта */
    src: url(fonts/10178.otf); /* Путь к файлу со шрифтом */
   }
html, body, ul{
	margin: 0;
	padding: 0;
}





.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mainscreen{
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url(images/man_photo.png);
}


.navigation{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	font-family: GothamProMed; 
	padding: 30px 0;
	}


.navigation__logo{
	padding-right: 30%;
}

.navigation__item{
	list-style-type: none; 
	float: left;
	margin: 0;
	padding-left: 40px;

}


.navigation__anchor{
	text-decoration: none;
	text-transform: uppercase;
	color: #3f4147;
}

.navigation__anchor:hover{
color:#a70c5d;
}



.navigation__language {
    border: 2px solid #dfdfe2;
    width: 60px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f5f5f5;
    color: #a70c5d;
    font-family: GothamProBold; 
    font-size: 13px;
	text-transform: uppercase;
	padding: 0.5em;
}

.navigation__language:focus {
    outline: none;
}




.main-information{
	width: 80%;
	margin: 0 auto; }

.slogan{
	width:50%;

}

.slogan__header{
	 font-family: GothamProBold; 
	 font-size: 30px;
    font-weight: bold;
}	

.slogan__header:after{
	width: 2em;
	border-bottom: 2px solid #a70c5d ;
	content: "";
	padding-top: 30px;
	display: block;
	margin: 0;
}

.slogan__text{
		font-family: GothamPro;
		font-size: 15px;
		line-height: 2em;
		padding-bottom: 60px;
		padding-right: 40px;
}

.slogan__button{
	color:#a70c5d;
	background-color: #fff;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: GothamProBold; 
	font-size: 12px;
	border-radius: 50px;
	border: 3px solid  #a70c5d;
	display: flex;
	justify-content:space-around ;
	width: 170px;
	align-items: center;
}

.slogan__button:hover{
	background-color: #a70c5d;
	color: #fff;

}

.slogan__icon{
	font-size: 3em;
}

.mainscreen__absolute_button{
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 30px;
	background-color: #fff;
	margin: 0;
	padding: 30px 40px;
	border-radius: 50%;
	color: #a70c5d;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}


.mainscreen__absolute_button:hover{
	background-color: #a70c5d;
	color: #fff;
}


/* Artur Rudyk styles*/

.services {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
}

.comments {
    font-family: sans-serif;
}

.section-title {
    padding: 40px 0px 40px 0px;
    text-align: center;
    width: 100%;
}

.line {
    height: 2px;
    width: 40px;
    background-color: #a80c5d;
    border: none;
    margin: 0px auto;
}

.title {

}

.subtitle {
    width: 50%;
}

.headline {
    margin: 20px auto;
}

.bold {
    font-weight: bold;
}

.service-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item-wrapper {
    width: 50%;
    padding: 60px 0px 30px 0px;
    box-sizing: border-box;
}

.service-item {
    box-sizing: border-box;
    width: 70%;
    margin: 0px 10% 0px 20%;
}

.service-item:hover .service-icon {
    background-color: #a70c5d;
    color: #ffffff;
}

.service-image-wrapper {
    width: 40px;
    height: 100%;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}

.st0{fill:none;stroke:#727478;stroke-width:0.75;stroke-miterlimit:10;}
.st1{fill:none;stroke:#727478;stroke-width:0.5;stroke-miterlimit:10;}
.st2{fill:none;stroke:#727478;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{stroke:#727478;stroke-width:0.2758;stroke-miterlimit:10;}
.st4{fill: #727478;stroke:#727478;stroke-width:0.2;stroke-miterlimit:10;}
.fl0{fill:#727478;stroke:#727478;stroke-width:0.2758;stroke-miterlimit:10;}

.service-item:hover  .svg__st {
    stroke: #a70c5d;
}
.service-item:hover  .svg__fl {
    stroke: #a70c5d;
    fill: #a70c5d;
}

.service-item:hover  .st4 {
    fill: #a70c5d;
}

.text-color {
    color: #727478;
}

.service-content {
    display: inline-block;
    width: calc(100% - 70px);
    text-align: left;

}

.service-headline {
    padding: 10px 0px;
}

.service-title {
    display: inline-block;
    margin: 0px;
    width: 60%;
    font-size: 15px;
}

.service-text {
    padding: 20px 0px 0px 0px;
}

.service-text-list {
    margin : 0px;
    padding-left: 15px;
    list-style-image: url(images/EllipsePink.png);
}

.service-text-list li{
    padding-left: 10px;
}

.service-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #a80c5d;
    border-radius: 20px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-family: serif;
    font-weight: bold;
}


.comments{
	width: 100%;
    margin: 0 auto;
}

.comments-content {
    width: 80%;
    padding-bottom: 60px;
    margin: 0 10%;
}

.comments-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.comment-item {
    width: 300px;
    min-width: 300px;
    padding-top: 30px;
    margin: 0px 20px;
}

.comment-item:hover .qt1{
    fill: #a70c5d;
}

.comment-item:hover .author-name{
    color: #a70c5d;
}

.quotes-img {
    height: 15px;
}

.quotes-wrapper {
    height: 20px;
    width: 20px;
}

.qt0{enable-background:new    ;}
.qt1{fill:#727478;}

.comment-body {
    margin: 15px 0px 30px 0px;
}

.author-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px 0px;
}

.author-name {
    padding: 10px 0px;
    margin: 0px;
    font-size:  12px;
    font-weight: bold;
}

.author-position {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-size:  12px;

}

.video-comment-wrapper {
    width: 100%;
    margin: 15px 0px 30px 0px;

}


.button-more {
    margin-top: 70px;
    text-align: center;
    font-size:  10px;
    font-weight: bold;
}

.img-more-wrapper {
    display: inline-block;
}

.button-more-text {
    display: inline-block;
}

@media screen and (max-width:900px) {
    .service-item-wrapper {
        width: 100%;
    }
    .service-item {
        width: 80%;
        margin: 0 auto;
    }
    .comments-list {
        flex-direction: column;
        align-items: center;
    }
}
/* Artur Rudyk styles*/

/*          Ilja Boltenkow footer style.css           */

.footer{
    margin: 0;
    width: 100%;
}



.header__h1{
    text-align: center;
    font-size: 28px;
    font-family: "GothamPro-Light";
    color: #3f4147;
    font-weight: bold;
    padding: 40px 40px 0px; 
}
.header__line{
    height: 2px;
    width: 40px;
    background-color: #a80c5d;
    border: none;
    margin: 0px auto;
}
.footerbody{
    display: block;
     margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
}
.footerbody__formsandinformation{
    padding-top: 40px;
    width: 100%;
    min-height: 350px;
    
}
.formsandinformation__information{
    width:47%;
    float:left;
    margin-right: 3%;
}
.information__content[type="text"]{
     width: 100%;
     border: none;
     border-bottom: 2px solid #dcdcdc;
     font-size: 15px;
     font-family: "GothamPro-Light";
     color: #727478;
     line-height: 2;
     font-weight: 800;
     text-transform: uppercase;
}
.information__content[type="text"]:focus {
    width: 100%;
    border: none;
    border-bottom: 2px solid #a80c5d; 
    color: #3f4147;
    outline: 0;
    outline-offset: 0;
}
.formsandinformation__dropdown{
    width:100%;
    margin-top: 50px;
}
.dropdown__dropbtn{
    background-color: #fff;
    color: #727478;
    width:100% !important;
	height: 50px;
    font-size: 16px;
    border: none;
	text-align: left;
	text-transform: uppercase;
	border: 1px solid  #dbdbdb; 
	background-image:url(images/arrow.png);
	background-repeat:no-repeat;
	background-position: 95%;

}
.dropdown__dropdowncontent{
	display: none;
	background-color: #fff;
	border: 1px solid #dbdbdb;
    font-size: 13px;
    font-family: "GothamPro-Light";
	z-index: 1;
    font-weight: 800;
}

.dropdown__dropdowncontent li {
    color: #727478;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formsandinformation__dropdown:hover .dropdown__dropdowncontent{
    display: block;
}


	
	.dropdown__dropdowncontent li:hover 
	{
		cursor: pointer;
		color: #a80c5d;
	}
	
	.dropdown__dropdowncontent li::before
	{
		content: url(images/EllipseGrey.png);

	}
	
	
	.dropdown__dropdowncontent li:hover:before
	{
		content: url(images/EllipsePink.png);
	}
	.dropdown__dropdowncontent ul
	{

		padding-left: 25px;
	}

.footerbody__otherinformation{

    margin-top: 25px;
    width: 47%;
    float: left;
    margin-left: 3%;
}
.otherinformation__dopinfa{
    font-size: 15px;
    font-weight: 800;
    font-family: "GothamPro-Light";
    color: #727478;
    text-transform: uppercase;
    
}
textarea[type="text"]{
    width: 100%;
    height: 250px;
    font-size: 15px;
    font-family: "GothamPro-Light";
    color: #727478;
    line-height: 2;
    font-weight: 800;
    border: 2px solid #dcdcdc;
    
}
textarea[type="text"]:focus {
    width: 100%;
    border: 2px solid #a80c5d;
    outline: 0;
    outline-offset: 0;
}
button[type="button"]{
    display: block;
    padding: 20px 60px 20px 60px;
   
    background-color: #a80c5d;
    border-radius: 40px;
    color: #ffffff;
    font-family: "GothamPro-Light";
    font-size: 15px;
    border: 0;
    font-weight: 800;
    text-transform: uppercase;
    clear: both;
   
    margin: 20px auto;
}


.footer__ftr{
    font-family: "GothamPro-Light";
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}
.footer__ftr a{
    color: #a80c5d;
}
.ftr__pravo{
    text-transform: uppercase;
    font-family: "GothamPro-Light";
    text-align: center;
    font-size: 12px;
    color: #000000;
    font-weight: 900;
    margin-top:50px;
    margin-bottom: 20px;
}
.ftr__buttons{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.ftr__buttons a{
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 10px;
    
}
#fb{
    background-image: url(images/fbgrey.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#fb:hover{
    background-image: url(images/fbblue.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#tw{
    background-image: url(images/twgrey.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#tw:hover{
    background-image: url(images/twblue.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#in{
    background-image: url(images/ingrey.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#in:hover{
    background-image: url(images/inblue.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.p2015{
    font-size: 12px;
    text-align: center;
    font-family: "GothamPro-Light";
}


/*          Ilja Boltenkow footer style.css           */
