.comments
  width: 100%
  margin: 0
  font-family: GothamPro, sans-serif

.comments-content
  width: 100%
  max-width: 1200px
  padding: 0px 30px 60px 30px
  margin: 0 auto
  box-sizing: border-box

.comments-list
  width: 100%
  display: flex
  flex-wrap: nowrap
  justify-content: space-between

.comment
  min-width: 300px
  width: 300px
  padding-top: 30px
  margin: 0px 20px
  &:hover
    .qt1
      fill: $pinkcolor
    .comment__author
      color: $pinkcolor

.comment__quotes
  height: 20px
  width: 20px

.qt0
  enable-background: new

.qt1
  fill: #727478

.comment__body
  margin: 15px 0px 30px 0px
  color: $serviceiconcolor

.comment__author-img
  width: 50px
  height: 50px
  border-radius: 25px
  margin: 10px 0px

.comment__author
  padding: 10px 0px
  margin: 0px
  font-size: 12px
  font-weight: bold

.comment__position
  padding-top: 10px
  padding-bottom: 0px
  margin: 0px
  font-size: 12px

.comment__video
  width: 100%
  margin: 15px 0px 0px 0px

.comment__button
  margin-top: 70px
  text-align: center
  font-size: 16px
  font-weight: bold

.comment__button-img
  img
    height: 15px
    width: 15px
  display: inline-block

.comment__button-text
  display: inline-block
  font-family:  GothamPro-Bold, sans-serif

@media screen and (max-width: 1100px)
  .comments-list
    flex-direction: column
    align-items: center